@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/utilities/flex";

[data-type="bootstrap/row"] {
  & > .block-editor-inner-blocks > .block-editor-block-list__layout {
    @extend .row;

    & > .block-list-appender {
      @extend .col-12;

      margin-left: 0;
      margin-right: 0;
      order: 15;
    }
  }

  &[data-horizontal-alignment="left"] > .block-editor-inner-blocks > .block-editor-block-list__layout {
    @extend .justify-content-start;
  }
  &[data-horizontal-alignment="center"] > .block-editor-inner-blocks > .block-editor-block-list__layout {
    @extend .justify-content-center;
  }
  &[data-horizontal-alignment="right"] > .block-editor-inner-blocks > .block-editor-block-list__layout {
    @extend .justify-content-end;
  }

  &[data-vertical-alignment="top"] > .block-editor-inner-blocks > .block-editor-block-list__layout {
    @extend .align-items-start;
  }
  &[data-vertical-alignment="center"] > .block-editor-inner-blocks > .block-editor-block-list__layout {
    @extend .align-items-center;
  }
  &[data-vertical-alignment="bottom"] > .block-editor-inner-blocks > .block-editor-block-list__layout {
    @extend .align-items-end;
  }
}
